<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href='//fonts.googleapis.com/css?family=Inconsolata:400,700'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/pygments.css">
  <link rel="stylesheet" href="/css/site.css">
  <link rel="shortcut icon" href="/images/favicon.png">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/gist-embed/2.7.1/gist-embed.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src="/images/favicon.png" height="48px" width="48px">
        </a>
        <p class="navbar-text">Brad Wilson's home on the web</p>
      </div>
    </div>
  </nav>

  <div class="container">
    {{ content }}

    <h6 class="divider">
      <div class="pull-right">&copy; <a href="http://bradwilson.io">Brad Wilson</a></div>
      <div>
        <a class="social" href="mailto:dotnetguy@gmail.com"><span class="fa fa-envelope"></span></a>
        <a class="social" href="https://twitter.com/bradwilson"><span class="fa fa-twitter"></span></a>
        <a class="social" href="https://github.com/bradwilson"><span class="fa fa-github"></span></a>
        <a class="social" href="https://www.twitch.tv/BradWilson72"><span class="fa fa-twitch"></span></a>
        <a class="social" href="https://www.youtube.com/channel/UC3TxYPH9F3XqhJVH5E6ZEAg"><span class="fa fa-youtube"></span></a>
        <a class="social" href="https://www.instagram.com/Brad.Wilson.72/"><span class="fa fa-instagram"></span></a>
        <a class="social" href="https://500px.com/bradwilson"><span class="fa fa-500px"></span></a>
        <a class="social" href="http://stackoverflow.com/users/1554/brad-wilson"><span class="fa fa-stack-overflow"></span></a>
      </div>
    </h6>
  </div>
</body>

</html>
