<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link href='//fonts.googleapis.com/css?family=Lato:400,400italic,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/pygments.css" rel="stylesheet">
  <link href="/css/site.css" rel="stylesheet">
  <link rel="shortcut icon" href="/images/favicon.png">
</head>

<body>
  <nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src="/images/favicon.png" height="48px" width="48px">
        </a>
        <p class="navbar-text">Brad Wilson's home on the web</p>
      </div>
    </div>
  </nav>

  <div class="container">
    {{ content }}

    <h6>
      Copyright &copy; 2015 Brad Wilson. The content was originally published on
      <a href="http://bradwilson.io">bradwilson.io</a>.
    </h6>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
